
<div class="col-12 text-center mt-3">
    <label class="title-registro fs-3" >Casa Farmacéutica</label>
</div>
<form class="form" #casaFarmaceuticaForm = "ngForm" (ngSubmit)="guardar()">
    <div class="form-group row">
        <div class="mb-1 col-md-3">
            <input 
                type="text"
                id="_id"
                name="_id"
                #_id
                [(ngModel)]="casaFarmaceutica._id"
                [hidden]="true"  
            >
            <label for="nombrePaciente" class="form-label">Nombre</label>
            <input 
                type="text" 
                id="nombrePaciente"
                name="nombrePaciente"
                #nombrePaciente
                class="form-control"                
                [(ngModel)]="casaFarmaceutica.nombre"
                required>
        </div>
        <div class="mb-1 col-md-7">
            <label for="observaciones" class="form-label">Observaciones</label>
            <input 
                type="text" 
                id="observaciones" 
                name="observaciones"
                #observaciones
                class="form-control"
                [(ngModel)]="casaFarmaceutica.observaciones">
        </div>
        <input 
            type="checkbox" 
            id="estado"
            name="estado"
            #estado
            [hidden]="true" 
            [(ngModel)]="casaFarmaceutica.estado">
        <div class="mt-4 col-md-2 text-center">    
            <button type="submit" class="btn btn-primary" [disabled]="casaFarmaceuticaForm.invalid">Guardar</button>
        </div>
    </div>
</form>
<div class="mt-5 table-responsive">
    <table class="table table-bordered table-striped table-hover" width="100%">
        <thead class="thead-dark">
            <tr class="text-center">
                <th class="w-10">No.</th>
                <th class="w-25">Nombre</th>
                <th class="w-25">Observaciones</th>
                <th class="w-15">Estado</th>
                <th class="w-25">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let casa of casasFarmaceuticas | slice:desde:hasta, let i = index">
                <td>{{i+1}}</td>
                <td>{{casa.nombre}}</td>
                <td>{{casa.observaciones}}</td>
                <td>{{casa.estado == true? 'Activa':'Inactiva'}}</td>
                <td>
                    <button type="button" class="btn btn-dark" (click)="actualizar(casa)" data-toggle="tooltip"  data-placement="top" title="actualizar" ><i class="bi bi-file-arrow-up" >                        
                    </i></button>  
                    &nbsp;                          
                    <button type="button" class="btn btn-dark" (click)="openModal(template, casa)"><i class="bi bi-file-x" data-toggle="tooltip"  data-placement="top" title="Activar/Inactivar"></i></button>
                </td>
            </tr>        
        </tbody>
    </table>
    <mat-paginator [length]="casasFarmaceuticas.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="cambiarpagina($event)">
</mat-paginator>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>¿Está seguro que desea inactivar la casa farmaceutica seleccionada?</p>
    <button type="button" class="btn btn-primary" (click)="confirm()" >Sí</button>
    &nbsp;
    <button type="button" class="btn btn-secondary" (click)="decline()" >No</button>
  </div>
</ng-template>

