<div class="col-12 text-center mt-3">
    <label class="title-registro fs-3">Enfermedades</label>
</div>
<!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary" type="button" (click)="abrirEnfermedadModal()"><i class="bi bi-plus"></i>Agregar</button>
</div> -->
<div class="form">
    <div class="form-group row">
        <div class="col-md-5">
            <label for="nombreEnfermedad" class="form-label">Nombre</label>
            <input type="text" id="nombreEnfermedad" [(ngModel)]="enfermedad.nombre"  class="form-control">
        </div>
        <div class="col-md-5">
            <label for="Observaciones" class="form-label">Observaciones</label>
            <input type="text" id="Observaciones" [(ngModel)]="enfermedad.observaciones" class="form-control">
        </div>
        <div class="mt-4 col-md-2 text-center" (click)="guardar()">    
            <button class="btn btn-primary">Guardar</button>
        </div>
    </div>
</div>
<div class="mt-3 bg-secondary.bg-gradient bg-opacity-10">
    <table class="table">
        <thead class="thead-dark">
            <tr class="text-center">
                <th class="col-md-1">No.</th>
                <th class="col-md-4">Nombre</th>
                <th class="col-md-5">Observaciones</th>
                <th class="col-md-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let enfermedad of enfermedades  | slice:desde:hasta, let i=index">
                <td>{{i+1}}</td>
                <td>{{enfermedad.nombre}}</td>
                <td>{{enfermedad.observaciones}}</td>
                <td>
                    <button type="button" class="btn btn-dark"><i class="bi bi-file-arrow-up" data-toggle="tooltip"  data-placement="top" title="actualizar"></i></button>
                    &nbsp;
                    <button type="button" class="btn btn-dark"><i class="bi bi-file-x" data-toggle="tooltip"  data-placement="top" title="Inactivar"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="enfermedades.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="cambiarpagina($event)">
    </mat-paginator>
</div>
