
<div class="modal-header">
    <h4 class="modal-title">Nueva Casa Farmacéutica</h4>
    <button type="button" class="close" aria-label="Close">
    </button>
</div>
<div class="modal-body">
    <form class="form">
        <div class="form-group row">
            <div class="mb-1 col-md-12">
                <label for="nombrePaciente" class="form-label">nombre</label>
                <input type="text" id="nombrePaciente" class="form-control">
              </div>
              <div class="mb-1 col-md-12">
                <label for="Observaciones" class="form-label">Observaciones</label>
                <textarea id="Observaciones" class="form-control" rows="3"></textarea>
              </div>
        </div>
    </form>
    
</div>
