<div class="modal-header">
    <h4 class="modal-title pull-left">{{titulo}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form">
        <div class="form-group row">
            <!-- <div class="form-group col-md-12 ">
                <label for="nombreUsuario" class="form-label">Nombre</label>
                <input type="text" id="nombreUsuario" [(ngModel)]="usuario.nombre"  class="form-control">
            </div>
            <div class="form-group col-md-12 mt-1">
                <label for="usuario" class="form-label">Usuario</label>
                <input type="text" id="usuario" [(ngModel)]="usuario.usuario"  class="form-control">
            </div>
            <div class="form-group col-md-12 mt-1">
                <label for="password" class="form-label" >Contraseña</label>
                <input id="password" [(ngModel)]="usuario.password"  class="form-control" type="password">
            </div>          -->
            <div class="form-group col-md-12 mt-1">
                <label for="tipoUsuario">Tipo Usuario</label>
                <select id="tipoUsuario" class="form-control">
                  <option value="1">Administrador</option>
                  <option value="2" selected>Operador</option>
                </select>
            </div>       
            <div class="mt-2 col-md-12 text-center" (click)="addUsuario()">    
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>    