<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/pacientes" routerLinkActive="active" ariaCurrentWhenActive="page">Pacientes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/formulario-pacientes" routerLinkActive="active" ariaCurrentWhenActive="page" >Agregar paciente</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administración
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item"></a>Administración de sistema</li>
                <li><a class="dropdown-item" routerLink="/enfermedades" routerLinkActive="active" ariaCurrentWhenActive="page">Enfermedad</a></li>
                <li><a class="dropdown-item" routerLink="/farmacos" routerLinkActive="active" ariaCurrentWhenActive="page">Medicamentos</a></li>
                <li><a class="dropdown-item" routerLink="/casas-farmaceuticas" routerLinkActive="active" ariaCurrentWhenActive="page">Casa Farmaceutica</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/usuarios" routerLinkActive="active" ariaCurrentWhenActive="page">Administración de usuarios</a></li>
              </ul>
          </li>   
        </ul>
      </div>
    </div>
  </nav>