<div class="col-12 text-center mt-3">
    <label class="title-registro fs-3 h1" >Pacientes</label>
</div>
<div class="row">
<div class="col-6 text-rigth mt-3">
    <button class="btn btn-primary" (click)="abrirFormPacientesModal()"><i class="bi bi-plus" data-toggle="tooltip"  data-placement="top" title="agrega un nuevo paciente"></i>Agregar paciente</button>
</div>
<div class="col-6 text-rigth mt-3 d-flex justify-content-end">  
    <button class="btn btn-success" (click)="exportExcel()" [disabled]="pacientes.length==0"><i class="bi bi-file-earmark-excel" data-toggle="tooltip"  data-placement="top" title="Descarga ficha de pacientes en excel"></i>Descargar</button>
</div>
</div>
<div class="col-12 mt-3">
    <label for="filtrarPaciente" class="form-label">Filtrar pacientes</label>
    <input 
        type="text" 
        id="filtrarPaciente" 
        name="filtrarPaciente"
        #filtrarPaciente 
        class="form-control"
        [(ngModel)]="filterPaciente"
        (keyup)="filtrarPacientes(filtrarPaciente.value)">
</div>
<div class="mt-3 bg-secondary.bg-gradient bg-opacity-10">
    <table class="table table-bordered table-striped table-hover" width="100%">
        <thead class="thead-dark">
            <tr class="text-center">
                <th class="col-md-1">No.</th>
                <th class="col-md-2">Nombre</th>
                <th class="col-md-1">No. de registro</th>
                <th class="col-md-2">Telefono</th>
                <th class="col-md-2">Dirección</th>
                <th class="col-md-1">Estado</th>
                <th class="col-md-3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let p of pacientesFiltrado  | slice:desde:hasta , let i = index ">
                <td>{{i+1}}</td>
                <td>{{p.nombre}}</td>
                <td>{{p.noRegistro}}</td>
                <td>{{p.telefono}}</td>
                <td>{{p.direccion}}</td>
                <td>{{p.estado == true ? "Activo":"Inactivo"}}</td>
                <td>
                    <button type="button" class="btn btn-dark" (click)="abrirfichaPacientesModal(p)"data-toggle="tooltip"  data-placement="top" title="Ficha medica del paciente" ><i class="bi bi-person-vcard"></i></button>
                    &nbsp;
                    <button type="button" class="btn btn-dark" (click)="actualizarPaciente(p)"><i class="bi bi-person-fill-up" data-toggle="tooltip"  data-placement="top" title="actualizar"></i></button>  
                    &nbsp;  
                    <button type="button" class="btn btn-dark" (click)="abrirDatosClinicosModal(p)"><i class="bi bi-exclamation-diamond" data-toggle="tooltip"  data-placement="top" title="Agregar Datos Clinicos"></i></button>  
                    &nbsp;                          
                    <button type="button" class="btn btn-dark" (click)="openModal(template, p)"><i class="bi bi-person-fill-x" data-toggle="tooltip"  data-placement="top" title="Inactivar"></i></button>
                </td>
            </tr>        
        </tbody>
    </table>
    <div class="col-12 mb-5">
        <mat-paginator [length]="pacientesFiltrado.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="cambiarpagina($event)">
    </mat-paginator><br></div>
    
</div>
<ng-template #template>
<div class="modal-body text-center">
<p>¿Está seguro que desea activar/inactivar  este paciente?</p>
<button type="button" class="btn btn-primary" (click)="confirm()" >Sí</button>
&nbsp;
<button type="button" class="btn btn-secondary" (click)="decline()" >No</button>
</div>
</ng-template>

