<div class="col-12 text-center mt-3">
    <label class="title-registro fs-3">Pacientes</label>
</div>
<div class="mt-3 bg-secondary.bg-gradient bg-opacity-10">
    <table class="table">
        <thead class="thead-dark">
            <tr class="text-center">
                <th class="col-md-1">No.</th>
                <th class="col-md-3">Nombre</th>
                <th class="col-md-1">No. de registro</th>
                <th class="col-md-2">Diganostico</th>
                <th class="col-md-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td>1</td>
                <td>PFZER</td>
                <td>No registro</td>
                <td>Diganostico</td>
                <td>
                    <button type="button" class="btn btn-dark" data-toggle="tooltip"  data-placement="top" title="Ficha medica del paciente" [routerLink]="['/ficha-medica-paciente']"><i class="bi bi-person-vcard"></i></button>
                    &nbsp;
                    <button type="button" class="btn btn-dark"><i class="bi bi-person-fill-up" data-toggle="tooltip"  data-placement="top" title="actualizar"></i></button>  
                    &nbsp;                          
                    <button type="button" class="btn btn-dark"><i class="bi bi-person-fill-x" data-toggle="tooltip"  data-placement="top" title="Inactivar"></i></button>
                    
                </td>
            </tr>        
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
</div>
