<div class="col-12 text-center mt-3">
    <label class="title-registro fs-3">Enfermedades</label>
</div>
<div class="form mt-3">
    <form #formularioEnfermedad="ngForm" (ngSubmit)="guardar()">
        <div class="form-group row">
            <div class="col-md-5">
                <input 
                    type="text"
                    id="_id"
                    name="_id"
                    #_id
                    [(ngModel)]="enfermedad._id"
                    [hidden]="true"  
                >
                <label for="nombreEnfermedad" class="form-label">Nombre</label>
                <input 
                    type="text" 
                    id="nombreEnfermedad"
                    name="nombreEnfermedad"
                    #nombreEnfermedad
                    [(ngModel)]="enfermedad.nombre"  
                    class="form-control"
                    required>                 
            </div>
            <div class="col-md-5">
                <label 
                    for="Observaciones" 
                    class="form-label">Observaciones</label>
                <input 
                    type="text" 
                    id="Observaciones" 
                    name="Observaciones"
                    #Observaciones
                    [(ngModel)]="enfermedad.observaciones" 
                    class="form-control">
            </div>
                <input 
                    type="checkbox" 
                    [hidden]="true" 
                    [(ngModel)]="enfermedad.estado"
                    name="estado"
                >   
            <div class="mt-4 col-md-2 text-center">    
                <button 
                    class="btn btn-primary" 
                    type="submit" 
                    [disabled]="formularioEnfermedad.invalid">
                    <i class="bi bi-plus"></i>Guardar</button>
            </div>
        </div>
    </form>    
</div>
<div class="mt-5 bg-secondary.bg-gradient bg-opacity-10">
    <table class="table  table-bordered table-striped table-hover" width="100%">
        <thead class="thead-dark">
            <tr class="text-center">
                <th class="col-md-1">No.</th>
                <th class="col-md-4">Nombre</th>
                <th class="col-md-3">Observaciones</th>
                <th class="col-md-2">Estado</th>
                <th class="col-md-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let enfermedad of enfermedades  | slice:desde:hasta, let i=index">
                <td>{{i+1}}</td>
                <td>{{enfermedad.nombre}}</td>
                <td>{{enfermedad.observaciones}}</td>
                <td>{{enfermedad.estado == true? 'Activo': 'Inactivo'}}</td>
                <td>
                    <button type="button" class="btn btn-dark" (click)="ActualizarRow(enfermedad)"><i class="bi bi-file-arrow-up" data-toggle="tooltip"  data-placement="top" title="actualizar"></i></button>
                    &nbsp;
                    <button type="button" class="btn btn-dark" (click)="openModal(template, enfermedad)"><i class="bi bi-file-x" data-toggle="tooltip"  data-placement="top" title="Inactivar"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="enfermedades.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="cambiarpagina($event)">
    </mat-paginator>
</div>
<ng-template #template>
    <div class="modal-body text-center">
      <p>¿Está seguro que desea inactivar esta enfermedad?</p>
      <button type="button" class="btn btn-primary" (click)="confirm()" >Sí</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)="decline()" >No</button>
    </div>
  </ng-template>
