<div class="modal-header">
    <h4 class="modal-title pull-left">{{titulo}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form">
        <div class="form-group row">   
            <div class="card col-6 ">              
                <h3>Efectos reportados</h3>
                <div *ngFor="let efectoR of efectosReportados, let i=index" class="mt-1">
                    <input type="checkbox" (change)="onTextBoxChangeReportados(efectoR, $event)" [checked]="efectoR.seleccionado"> {{i+1}} - {{efectoR.efectoAdverso}}
                </div>
            </div>   
            <div class="card col-6">  
                <h3>Efectos no reportados</h3>
                <div *ngFor="let efectoN of efectosNoReportados, let i=index" class="mt-1">                    
                    <input type="checkbox" (change)="onTextBoxChangeNoReportados(efectoN, $event)" [checked]="efectoN.seleccionado"> {{i+1}} - {{efectoN.efectoAdverso}}
                </div>                
            </div>  
            <div class="mb-1 col-md-12 text-center  mt-2" (click)="guardar()">    
                <button class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>    